{% extends "base.html.twig" %}
{% block body %}
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <h1>Insert page</h1>
                <h2>Users:</h2>
                <table class="table">
                <tr>
                <th>Name</th>
                <th>Username</th>
                </tr>
                {% for x in test %}
                <tr>
                <td>{{ x.firstName }} {{ x.last_Name }}</td>
                <td>{{ x.username }}</td>
                </tr>
                {% endfor %}
            </div>
            <div class="col-sm-2">

            </div>
{% endblock %}